-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: mis_gapms
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `application_data`
--

DROP TABLE IF EXISTS `application_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_data` (
  `application_id` varchar(255) NOT NULL,
  `extracted_name` varchar(255) DEFAULT NULL,
  `extracted_major` varchar(255) DEFAULT NULL,
  `extracted_country` text,
  `extracted_degree_level` varchar(255) DEFAULT NULL,
  `extracted_course` varchar(255) DEFAULT NULL,
  `prerequisite_required` tinyint(1) DEFAULT NULL,
  `extracted_text` text,
  `extracted_citizenship_status` varchar(255) DEFAULT NULL,
  `extracted_field_of_study` varchar(255) DEFAULT NULL,
  `extracted_program_format` varchar(255) DEFAULT NULL,
  `student_status` varchar(50) DEFAULT NULL,
  `field_of_study` varchar(50) DEFAULT NULL,
  `program_format` varchar(50) DEFAULT NULL,
  `start_semester` varchar(50) DEFAULT NULL,
  `start_year` varchar(10) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `address` text,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `zip_code` varchar(20) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `is_us_resident` tinyint(1) DEFAULT NULL,
  `citizen_type` varchar(50) DEFAULT NULL,
  `military_service` tinyint(1) DEFAULT NULL,
  `university` varchar(255) DEFAULT NULL,
  `degree` varchar(100) DEFAULT NULL,
  `major` varchar(255) DEFAULT NULL,
  `gpa` decimal(3,2) DEFAULT NULL,
  `campus` varchar(50) DEFAULT NULL,
  `program` varchar(255) DEFAULT NULL,
  `enrollment_semester` varchar(50) DEFAULT NULL,
  `residency_status` varchar(50) DEFAULT NULL,
  `is_international` tinyint(1) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `transcript_file` longblob,
  PRIMARY KEY (`application_id`),
  CONSTRAINT `application_data_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application_records` (`application_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_data`
--

LOCK TABLES `application_data` WRITE;
/*!40000 ALTER TABLE `application_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_records`
--

DROP TABLE IF EXISTS `application_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_records` (
  `application_id` varchar(255) NOT NULL,
  `transcript_file` varchar(255) DEFAULT NULL,
  `application_file` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`application_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_records`
--

LOCK TABLES `application_records` WRITE;
/*!40000 ALTER TABLE `application_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `application_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `applications`
--

DROP TABLE IF EXISTS `applications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `applications` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `program_id` int NOT NULL,
  `status` enum('Pending','Reviewed','Admitted','Rejected') DEFAULT 'Pending',
  `submission_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `review_date` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `applications_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `applications`
--

LOCK TABLES `applications` WRITE;
/*!40000 ALTER TABLE `applications` DISABLE KEYS */;
INSERT INTO `applications` VALUES (3,1,1,'Pending','2025-02-15 16:28:15',NULL);
/*!40000 ALTER TABLE `applications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `courses`
--

DROP TABLE IF EXISTS `courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `courses` (
  `course_id` int NOT NULL AUTO_INCREMENT,
  `transcript_id` int DEFAULT NULL,
  `course_name` varchar(255) DEFAULT NULL,
  `grade` varchar(10) DEFAULT NULL,
  `application_id` varchar(255) NOT NULL,
  `credits` float DEFAULT NULL,
  PRIMARY KEY (`course_id`),
  KEY `transcript_id` (`transcript_id`),
  KEY `fk_application_id` (`application_id`),
  CONSTRAINT `courses_ibfk_1` FOREIGN KEY (`transcript_id`) REFERENCES `transcript_data` (`transcript_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_application_id` FOREIGN KEY (`application_id`) REFERENCES `application_records` (`application_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `courses`
--

LOCK TABLES `courses` WRITE;
/*!40000 ALTER TABLE `courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `files`
--

DROP TABLE IF EXISTS `files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `files` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` varchar(255) NOT NULL,
  `filename` varchar(255) NOT NULL,
  `uploaded_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `file_type` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `files_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `application_records` (`application_id`)
) ENGINE=InnoDB AUTO_INCREMENT=258 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `files`
--

LOCK TABLES `files` WRITE;
/*!40000 ALTER TABLE `files` DISABLE KEYS */;
/*!40000 ALTER TABLE `files` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prerequisite_checks`
--

DROP TABLE IF EXISTS `prerequisite_checks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prerequisite_checks` (
  `check_id` int NOT NULL AUTO_INCREMENT,
  `application_id` int NOT NULL,
  `prerequisite_required` tinyint(1) NOT NULL,
  `details` text,
  PRIMARY KEY (`check_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `prerequisite_checks_ibfk_1` FOREIGN KEY (`application_id`) REFERENCES `applications` (`application_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prerequisite_checks`
--

LOCK TABLES `prerequisite_checks` WRITE;
/*!40000 ALTER TABLE `prerequisite_checks` DISABLE KEYS */;
/*!40000 ALTER TABLE `prerequisite_checks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prerequisite_courses`
--

DROP TABLE IF EXISTS `prerequisite_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prerequisite_courses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` varchar(255) DEFAULT NULL,
  `course_id` int DEFAULT NULL,
  `course_name` varchar(255) DEFAULT NULL,
  `term` varchar(50) DEFAULT NULL,
  `required` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prerequisite_courses`
--

LOCK TABLES `prerequisite_courses` WRITE;
/*!40000 ALTER TABLE `prerequisite_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `prerequisite_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prerequisites`
--

DROP TABLE IF EXISTS `prerequisites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prerequisites` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` varchar(255) NOT NULL,
  `prerequisite_id` int NOT NULL,
  `prerequisite_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `required` tinyint(1) DEFAULT '1',
  `term` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_prerequisite` (`application_id`,`prerequisite_id`)
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prerequisites`
--

LOCK TABLES `prerequisites` WRITE;
/*!40000 ALTER TABLE `prerequisites` DISABLE KEYS */;
/*!40000 ALTER TABLE `prerequisites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programs`
--

DROP TABLE IF EXISTS `programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programs` (
  `program_id` int NOT NULL AUTO_INCREMENT,
  `program_name` varchar(100) NOT NULL,
  `department` varchar(100) NOT NULL,
  `prerequisites` text NOT NULL,
  PRIMARY KEY (`program_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programs`
--

LOCK TABLES `programs` WRITE;
/*!40000 ALTER TABLE `programs` DISABLE KEYS */;
/*!40000 ALTER TABLE `programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reports`
--

DROP TABLE IF EXISTS `reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reports` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `report_type` varchar(100) NOT NULL,
  `generated_by` int NOT NULL,
  `generated_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`report_id`),
  KEY `generated_by` (`generated_by`),
  CONSTRAINT `reports_ibfk_1` FOREIGN KEY (`generated_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reports`
--

LOCK TABLES `reports` WRITE;
/*!40000 ALTER TABLE `reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_courses`
--

DROP TABLE IF EXISTS `student_courses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_courses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `application_id` varchar(50) NOT NULL,
  `course_name` varchar(255) NOT NULL,
  `credits` float DEFAULT NULL,
  `grade` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_courses`
--

LOCK TABLES `student_courses` WRITE;
/*!40000 ALTER TABLE `student_courses` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_courses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_demographics`
--

DROP TABLE IF EXISTS `student_demographics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_demographics` (
  `demographic_id` int NOT NULL AUTO_INCREMENT,
  `application_id` varchar(20) DEFAULT NULL,
  `user_id` int DEFAULT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `age` int NOT NULL DEFAULT '25',
  `nationality` varchar(100) NOT NULL,
  `residency_status` enum('Citizen','Permanent Resident','F1 Student','Other') DEFAULT NULL,
  `is_international` varchar(10) DEFAULT NULL,
  `field_of_study` varchar(50) DEFAULT NULL,
  `program_name` varchar(100) DEFAULT NULL,
  `program_format` varchar(20) DEFAULT NULL,
  `campus` varchar(50) DEFAULT NULL,
  `semester` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`demographic_id`),
  KEY `user_id` (`user_id`),
  KEY `application_id` (`application_id`),
  CONSTRAINT `student_demographics_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_demographics`
--

LOCK TABLES `student_demographics` WRITE;
/*!40000 ALTER TABLE `student_demographics` DISABLE KEYS */;
INSERT INTO `student_demographics` VALUES (1,NULL,1,'Male',25,'Nigeria','F1 Student',NULL,NULL,NULL,NULL,NULL,NULL),(2,NULL,14,'Male',20,'NG','F1 Student',NULL,NULL,NULL,NULL,NULL,NULL),(3,'student261025',NULL,'Other',25,'Unknown','Other','No','INSS',NULL,'in-person',NULL,'Not Specified'),(4,'student463370',NULL,'Other',25,'Unknown','Other','No','INSS',NULL,'in-person',NULL,'Not Specified'),(5,'student310683',NULL,'Other',25,'Unknown','Other','No','INSS',NULL,'in-person',NULL,'Not Specified'),(6,'student615839',NULL,'Other',25,'Unknown','Other','No',NULL,NULL,NULL,'Main Campus',NULL);
/*!40000 ALTER TABLE `student_demographics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transcript_data`
--

DROP TABLE IF EXISTS `transcript_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transcript_data` (
  `transcript_id` int NOT NULL AUTO_INCREMENT,
  `application_id` varchar(255) DEFAULT NULL,
  `extracted_name` varchar(255) DEFAULT NULL,
  `extracted_country` varchar(255) DEFAULT NULL,
  `extracted_degree_level` varchar(255) DEFAULT NULL,
  `extracted_course` varchar(255) DEFAULT NULL,
  `prerequisite_required` tinyint(1) DEFAULT NULL,
  `details` text,
  `extracted_major` varchar(255) DEFAULT NULL,
  `full_text` text,
  `extracted_citizenship_status` varchar(255) DEFAULT NULL,
  `extracted_field_of_study` varchar(255) DEFAULT NULL,
  `extracted_program_format` varchar(255) DEFAULT NULL,
  `required_courses` varchar(255) DEFAULT NULL,
  `prereq_explanation` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `decision` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`transcript_id`),
  KEY `application_id` (`application_id`)
) ENGINE=InnoDB AUTO_INCREMENT=287 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transcript_data`
--

LOCK TABLES `transcript_data` WRITE;
/*!40000 ALTER TABLE `transcript_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `transcript_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_registration`
--

DROP TABLE IF EXISTS `user_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_registration` (
  `id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) DEFAULT NULL,
  `username` varchar(50) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_registration`
--

LOCK TABLES `user_registration` WRITE;
/*!40000 ALTER TABLE `user_registration` DISABLE KEYS */;
INSERT INTO `user_registration` VALUES (1,NULL,NULL,'testuser','test@tsud.com','scrypt:32768:8:1$qz5bj6Y8M569QTXZ$5d965e87990190e60df201aea695a9790846344dc4ac6b706cc7dfb780bc52816a635e50ca537b9aca54ec8e9d40afad47db1503754e42fc8decc7dab60f1d2a','2025-04-20 02:22:36'),(2,'test','user','testusers','test@tsuds.com','scrypt:32768:8:1$88qIzsk8Jt6okCDM$2d4040e004ee528bd8813275aa2ffa03db815f2bdcca78f751f747c4da0ab5a5aa0001fd49b96cdc4d3d4638ec006e5397f1bcfe5be4b9a068782938935243b0','2025-04-20 02:26:27');
/*!40000 ALTER TABLE `user_registration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('Applicant','Admin','Reviewer') DEFAULT 'Applicant',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status` enum('Pending','Admitted','Rejected') DEFAULT 'Pending',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-29 20:05:46
